<form id="login" class="input-group" action="/login" method="POST">
    <input
      type="text"
      class="input-feild"
      name="user_id"
      placeholder="User Id"
      required
    />
    <input
      type="password"
      class="input-feild"
      name="password"
      placeholder="Enter Password"
      required
    />
    <input type="checkbox" class="check-box" />
    <span>Remember Password</span>
    <button type="submit" class="submit-btn">Log in</button>
  </form>
  
  <form id="register" class="input-group" action="/register" method="POST">
    <input
      type="text"
      class="input-feild"
      name="user_id"
      placeholder="User Id"
      required
    />
    <input
      type="email"
      class="input-feild"
      name="email"
      placeholder="Email Id"
      required
    />
    <input
      type="password"
      class="input-feild"
      name="password"
      placeholder="Enter Password"
      required
    />
    <input type="checkbox" class="check-box" />
    <span>I agree to term and conditions</span>
    <button type="submit" class="submit-btn">Register</button>
  </form>